build --copt "-std=c++17"
build --copt "-fno-exceptions"
build --copt "-fvisibility=hidden"
build --copt "-flto=thin"
build --copt "-Wall"
build --copt "-Werror"
build --linkopt "-flto=thin"
build --linkopt "-fuse-ld=lld"
build --linkopt "-pie"
